body {
    font-family: 'Exo';
}

.bg-transparent {
    background-color: rgba(52, 58, 64, 0)!important;
}

.w-55 {
    font-size: 55px;
}

.text-lg-x {
    font-size: x-large;
}

.text-black {
    color: black;
}

.btn-br {
    border-radius: 2.0rem;/*rgb(0, 250, 71)*/
}

.btn-success-2 {
    color: #000;
    background-color: rgb(0, 250, 71);
    border-color: rgb(0, 250, 71);
}

.divider-vertical-right {
    height: 40px;
    border-right: 2px solid #ffffff;
}

.navbar .divider-vertical-left {
    height: 40px;
    border-left: 1px solid #f2f2f2;
}