<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <meta name="theme-color" content="#201511"> -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <!-- Font EXO CSS -->
        <link href="https://fonts.googleapis.com/css?family=Exo:400,500,500i" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.0.2/bootstrap-social.css"  rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



        <link href="../css/custom.css" rel="stylesheet">

        <title>P.I.V.I. – Projeto de Incentivo à Vida</title>
    </head>
<body>
    <section class="row" style="background-color: white;">
            <div class="col-sm-12">
                <h1 align="center"><strong><font color="#1bbc9b"> P.I.V.I. - Projeto de Incentivo à Vida </font></strong></h1><br>
                <p style="text-align: center;">
                        Somos um projeto sem fins lucrativos que atua na área de assistência
                        social e queremos promover a inclusão de crianças, adolescentes e jovens
                        em situação de vulnerabilidade pessoal e social. Acreditamos que a melhor
                        forma de fazer isso é prepará-los para o futuro, conscientizando-os do seu
                        papel na sociedade.
                 </p>
             </div>
            <div class="col-sm-12">
                <button class="button-donate">Faça sua doação</button><br>
            </div>
    </section>

</body>